.popup_opened {
  display: flex;
}
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  color: white;
  text-decoration: none;
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.popup_opened::before {
  background: #000000;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
} */
