.popup__input {
  size: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(000, 000, 000, 0.2);
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

.popup__input::placeholder  {
  opacity:  1;
}
