.popup__close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 32px;
  height: 32px;
}

.popup__close:hover {
  opacity: 0.6;
}


@media screen and (max-width: 767px) {
  .popup__close {
    top: -45px;
    right: 17px;

    width: 20px;
    height: 20px;

  }
}
