@import url(../styles/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/profile__avatar/profile__avatar.css);
@import url(../blocks/profile/profile__info/profile__info.css);
@import url(../blocks/profile/profile__name/profile__name.css);
@import url(../blocks/profile/profile__bio/profile__bio.css);
@import url(../blocks/profile/profile__edit-button/profile__edit-button.css);
@import url(../blocks/profile/profile__edit-button/__image/profile__edit-button__image.css);
@import url(../blocks/profile/profile__add-button/profile__add-button.css);
@import url(../blocks/profile/profile__add-button/__image/profile__add-button__image.css);
@import url(../blocks/container/container.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like-icon/element__like-icon.css);
@import url(../blocks/element/__like-icon/_disabled/element__like-icon_disabled.css);
@import url(../blocks/element/__like-icon/_active/element__like-icon_active.css);
@import url(../blocks/element/__name/element__name.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/__image/popup__close__image.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/popup_opened.css);
